.filme-content{
    /* border: 1px solid #d0d0d0; */
    background-color: rgb(252, 237, 240);
    width: 300px;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    padding: 20px;
    box-shadow: 0px 0px 13px 4px rgb(206, 201, 203)
    
}
.foto_filme{
    min-height: 460px;
    display: flex;
    align-items: center;
}
.foto_filme>img{
    width: 100%;
    max-height: 460px;
    overflow: hidden;


}
.sinopse{
    font-weight: 5;
    color: rgb(83, 83, 83);
    font-size: 16px;
}
.text-barbie{
    color: rgb(24, 22, 22);
    line-height: 1.8rem;
    font-size: 13px;
}